<mat-card>
    <form (submit)="onSignup(signUpForm)" #signUpForm="ngForm" novalidate>
      <mat-form-field appearance="outline">
        <input matInput name="email" type="email" ngModel #emailInput="ngModel"  placeholder="Enter email"  required  email />
        <mat-error *ngIf="emailInput.invalid">Please enter valid email address</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <input matInput type="password"name="password"placeholder="Password" ngModel #passwordInput="ngModel" required/>
        <mat-error *ngIf="passwordInput.invalid">Please enter valid password</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Log In </button>
    </form>
  </mat-card>
  